body{
	background-image: url("Background.jpg");
	background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center;
    background-size: cover;
    background-height: 100%;
}

.title{
	color: white;
	background-color: orange;
}

.instructions{
	color: green;
	background-color: yellow;
}

#thirdBox{
	background-color: white;
	color: purple;	
}

.fourthBox{
	background-color: blue;
}

#Ruby{	
	float: left;
	border: white 2px;
}

#Sapphire{
	float: left;
}

#Diamond{
	float: left;
}

#Emerald{
	float: left;
}

#totalScore{
	background-color: red;
	color: white;
}
